@font-face {
  font-family: 'icons-hexenhaus';
  src:  url('../fonts/icons-hexenhaus.eot?vbnsgx');
  src:  url('../fonts/icons-hexenhaus.eot?vbnsgx#iefix') format('embedded-opentype'),
    url('../fonts/icons-hexenhaus.ttf?vbnsgx') format('truetype'),
    url('../fonts/icons-hexenhaus.woff?vbnsgx') format('woff'),
    url('../fonts/icons-hexenhaus.svg?vbnsgx#icons-hexenhaus') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-hexenhaus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-cog:before {
  content: "\f013";
}
.fa-gear:before {
  content: "\f013";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-ulm-tickets:before {
  content: "\e900";
}

