$primary_color: #C0C0C0;
$primary_bg_color: #000000;
$link_hover-color: #8F0000;
$error-color: #b00000;
$dull_color: #444444;
$background: $primary_bg_color url(/images/box-background.png);
$border_color: #333333;
$border: 1px solid $border_color;
$font_stack: 'Open Sans', Verdana, Geneva, sans-serif;